.App{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  
  }
  .App{
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .loginContentContainer,.forgetPasswordContentContainer{
    margin-top: 14rem;
    display: flex;
    background-color: white;
    height: 25rem;
    width: 30rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
  }
  .loginTitle,.signUpTitle,.forgetPasswordTitle,.welcomeContent{
    font-family: 'Roboto Slab', serif;
  }
  .loginfields,.signUpfields,.forgetPasswordfields{
    width: 20rem;
  }
  
  .SignUPContentContainer{
    display: flex;
      background-color: white;
      height: 40rem;
      width: 30rem;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 4rem;
      border-radius: 0.5rem;
  }
  .note{
    color: red;
  }
  
  .welcomeContainer{
    margin-top: 2rem;
    background-color: white;
    width:50rem;
    height:3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem; 
  } 
  .logoutfields{
    width: 4rem;
  }